<!DOCTYPE html>
<html lan="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Lending{% endblock %}</title>

{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'lending/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Logo -->
			<div class=navbar-header">
				<a class="navbar-brand" href="{% url 'lending:home' %}">Lending</a>
			</div>
			{% if user.is_authenticated %}
				<div class="navbar-header">
					<a href="{% url 'lending:show_profile' user.profile.id %}">{{ user }}</a>
				</div>
				<div class="navbar-header">
					<a href="{% url 'lending:logout' %}">Log out</a>
				</div>
			{% else %}
				<div class="navbar-header">
					<a href="{% url 'lending:login' %}">Login</a>
				</div>
				<div class="navbar-header">
					<a href="{% url 'lending:register' %}">Sign up</a>
				</div>
			{% endif %}
		</div>
	</nav>
</body>
{% block body %}
{% endblock %}
</html>
