{% extends 'lending/base.html' %}
{% block title %}Confirm Delete{% endblock %}

{% block body %}
	<div id="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<div class="panel-body">
					<h3>Please confirm that you wish to delete {{ object.name }}</h3>
					<form action="" method="post">
						{% csrf_token %}
						<input class="btn btn-link" type="button" value="Cancel" onclick="window.history.go(-1);"/>
						<input class="btn btn-danger" type="submit" value="Confirm"/>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
