{% extends 'lending/base.html' %}
{% block title %}{{ user }}{% endblock %}

{% block body %}
	{% if objects %}
	{% for object in objects %}
		<div>
			<div><h3>{{ object.name }}</h3></div>	
			<div>{{ object.description }}</div>	
			{% if user.id == owner.id %}
				<div><a href="{% url 'lending:update-object' object.id %}">Edit</a></div>
				<div><a href="{% url 'lending:delete-object' object.id %}">Delete</a></div>
			{% else %}
				<div><a href="{% url 'lending:create-request' object.id %}">Request</a></div>
			{% endif %}
		</div>
	{% endfor %}	
	{% else %}
		<div>{{ user }} has no objects available for lending.</div>
	{% endif %}
{% endblock %}
