{% extends 'lending/base.html' %}
{% block title %}Requests{% endblock %}

<script>
	function show(select_item) {
		$(".select_display").hide();
		$("#" + select_item).show();
	}
</script>

{% block body %}
	<select name="Filter Contracts" onchange="java_script_:
		$('.select_display').hide(); $('#' + this.options[this.selectedIndex].value).show()">
		<option value="lending">Lending Contracts</options>
		<option value="borrowing">Borrowing Contracts</options>
		<option value="pending">Pending Approval</options>
	</select>
	<div class="select_display" id="lending">
		{% if lending_contracts %}
		{% for contract in lending_contracts %}
			{% if contract.timeReturned %}
			<div class="returned">
			{% elif contract.timeBorrowed %}
			<div class="unreturned">
			{% else %}
			<div class="not-received">
			{% endif %}
				<div><h3>{{ contract.borrowedObject }}</div>
				<div>Borrower: {{ contract.borrowedBy }}</div>
				<div>Planned Start Date: {{ contract.startTime }}</div>
				<div>Planned End Date: {{ contract.endTime }}</div>
				{% if contract.timeReturned %}
				<div><h4>Returned</h4></div>
				<div>Date Borrowed: {{ contract.timeBorrowed }}</div>
				<div>Date Returned: {{ contract.timeReturned }}</div>
				{% elif contract.timeBorrowed %}
				<div><h4>Has not been returned</h4><a href="#">I have gotten it back</a></div>
				{% else %}
				<div><h4>Has not been borrowed yet</h4> <a href="#">Borrower has received this</a></div>
				{% endif %}
			</div>
		{% endfor %}
		{% else %}
			<h3>You currently have no lending contracts</h3>
		{% endif %}
	</div>
	<div class="select_display" id="borrowing" style="display:none;">
		{% if borrowing_contracts %}
		{% for contract in borrowing_contracts %}
			<div>
				<div><h3>{{ contract.borrowedObject }}</div>
				<div>Owner: {{ contract.borrowedObject.ownedBy }}</div>
				<div>Start time: {{ contract.startTime }}</div>
				<div>End time: {{ contract.endTime }}</div>
			</div>
		{% endfor %}
		{% else %}
			<h3>You currently have no borrowing contracts</h3>
		{% endif %}
	</div>
	<div class="select_display" id="pending" style="display:none;">
		{% if pending_contracts %}
		{% for contract in pending_contracts %}
			<div>
				<div><h3>{{ contract.borrowedObject }}</div>
				<div>Owner: {{ contract.borrowedObject.ownedBy }}</div>
				<div>Start time: {{ contract.startTime }}</div>
				<div>End time: {{ contract.endTime }}</div>
			</div>
		{% endfor %}
		{% else %}
			<h3>You currently have no requests awaiting approval</h3>
		{% endif %}
	
	</div>

{% endblock %}
